In [1]:
import pandas as pd
import numpy as np

In [6]:
google=pd.read_csv("google.csv" ,squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [12]:
print(google.is_unique)
print(google.ndim)
print(google.shape)
print(google.size)
print(google.name)

False
1
(3012,)
3012
Stock Price

In [16]:
rev=pd.read_csv("revenue.csv" , index_col="Date")
rev

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

In [18]:
print(rev.sum(axis=1))

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [19]:
print(rev.sum(axis=0))

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [25]:
print(rev.sum(axis= "index"))
print(rev.sum(axis= "columns"))

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64
Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [35]:
nba=pd.read_csv("nba.csv" ,index_col="Number")
nba[["Name", "Age"]].sort_values("Age")

                   Name   Age
Number
1          Devin Booker  19.0
20        Rashad Vaughn  19.0
34      Cliff Alexander  20.0
36         Kevon Looney  20.0
0       Emmanuel Mudiay  20.0
...                 ...   ...
9        Pablo Prigioni  39.0
21           Tim Duncan  40.0
21        Kevin Garnett  40.0
24         Andre Miller  40.0
99          Jae Crowder   NaN

[457 rows x 2 columns]

In [69]:
nba=pd.read_csv("nba.csv")

In [70]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25.0,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,NaN,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27.0,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22.0,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29.0,06-Oct,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20.0,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26.0,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24.0,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26.0,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26.0,7-0,231,Kansas,947276.0

In [71]:
google=pd.read_csv("google.csv",squeeze=True)
google1=google.head(n=len(nba))

In [72]:
nba["Price"]=google1

In [73]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Price
0,Avery Bradley,Boston Celtics,0,PG,25.0,06-Feb,180,Texas,7730337.0,50.12
1,Jae Crowder,Boston Celtics,99,SF,NaN,06-Jun,235,Marquette,6796117.0,54.10
2,John Holland,Boston Celtics,30,SG,27.0,06-May,205,Boston University,NaN,54.65
3,R.J. Hunter,Boston Celtics,28,SG,22.0,06-May,185,Georgia State,1148640.0,52.38
4,Jonas Jerebko,Boston Celtics,8,PF,29.0,06-Oct,231,NaN,5000000.0,52.95
...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20.0,06-Oct,234,Kentucky,2239800.0,194.80
453,Shelvin Mack,Utah Jazz,8,PG,26.0,06-Mar,203,Butler,2433333.0,193.06
454,Raul Neto,Utah Jazz,25,PG,24.0,06-Jan,179,NaN,900000.0,196.45
455,Tibor Pleiss,Utah Jazz,21,C,26.0,07-Mar,256,NaN,2900000.0,193.09
456,Jeff Withey,Utah Jazz,24,C,26.0,7-0,231,Kansas,947276.0,190.58

In [74]:
len(nba)

457

In [79]:
nba.insert( loc=2, column="Sports", value="Tennis" , allow_duplicates=True)
nba

,Name,Team,Sports,Sports,Sports,Number,Position,Age,Height,Weight,College,Salary,Price
0,Avery Bradley,Boston Celtics,Tennis,Tennis,Tennis,0,PG,25.0,06-Feb,180,Texas,7730337.0,50.12
1,Jae Crowder,Boston Celtics,Tennis,Tennis,Tennis,99,SF,NaN,06-Jun,235,Marquette,6796117.0,54.10
2,John Holland,Boston Celtics,Tennis,Tennis,Tennis,30,SG,27.0,06-May,205,Boston University,NaN,54.65
3,R.J. Hunter,Boston Celtics,Tennis,Tennis,Tennis,28,SG,22.0,06-May,185,Georgia State,1148640.0,52.38
4,Jonas Jerebko,Boston Celtics,Tennis,Tennis,Tennis,8,PF,29.0,06-Oct,231,NaN,5000000.0,52.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,Tennis,Tennis,Tennis,41,PF,20.0,06-Oct,234,Kentucky,2239800.0,194.80
453,Shelvin Mack,Utah Jazz,Tennis,Tennis,Tennis,8,PG,26.0,06-Mar,203,Butler,2433333.0,193.06
454,Raul Neto,Utah Jazz,Tennis,Tennis,Tennis,25,PG,24.0,06-Jan,179,NaN,900000.0,196.45
455,Tibor Pleiss,Utah Jazz,Tennis,Tennis,Tennis,21,C,26.0,07-Mar,256,NaN,2900000.0,193.09
456,Jeff Withey,Utah Jazz,Tennis,Tennis,Tennis,24,C,26.0,7-0,231,Kansas,947276.0,190.58

In [7]:
nba=pd.read_csv("nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25.0,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,NaN,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27.0,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22.0,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29.0,06-Oct,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20.0,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26.0,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24.0,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26.0,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26.0,7-0,231,Kansas,947276.0

In [48]:
google_df=pd.read_csv("google.csv").head(len(nba)+10)
google_Series=pd.read_csv("google.csv", squeeze=True).head(len(nba))

In [49]:
print(google_df.shape)
google_df

(467, 1)

     Stock Price
0          50.12
1          54.10
2          54.65
3          52.38
4          52.95
..           ...
462       193.39
463       200.86
464       199.78
465       202.23
466       201.91

[467 rows x 1 columns]

In [50]:
print(google_Series.shape)
google_Series

(457,)

0       50.12
1       54.10
2       54.65
3       52.38
4       52.95
        ...
452    194.80
453    193.06
454    196.45
455    193.09
456    190.58
Name: Stock Price, Length: 457, dtype: float64

In [51]:
nba["Trial"]=google_Series

In [52]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Trial,Trial 1
0,Avery Bradley,Boston Celtics,0,PG,0,06-Feb,180,Texas,7730337.0,50.12,50.12
1,Jae Crowder,Boston Celtics,99,SF,0,06-Jun,235,Marquette,6796117.0,54.10,54.10
2,John Holland,Boston Celtics,30,SG,0,06-May,205,Boston University,NaN,54.65,54.65
3,R.J. Hunter,Boston Celtics,28,SG,0,06-May,185,Georgia State,1148640.0,52.38,52.38
4,Jonas Jerebko,Boston Celtics,8,PF,0,06-Oct,231,NaN,5000000.0,52.95,52.95
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,0,06-Oct,234,Kentucky,2239800.0,194.80,194.80
453,Shelvin Mack,Utah Jazz,8,PG,0,06-Mar,203,Butler,2433333.0,193.06,193.06
454,Raul Neto,Utah Jazz,25,PG,0,06-Jan,179,NaN,900000.0,196.45,196.45
455,Tibor Pleiss,Utah Jazz,21,C,0,07-Mar,256,NaN,2900000.0,193.09,193.09
456,Jeff Withey,Utah Jazz,24,C,0,7-0,231,Kansas,947276.0,190.58,190.58

In [53]:
nba["Trial 1"]=google_df

In [54]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Trial,Trial 1
0,Avery Bradley,Boston Celtics,0,PG,0,06-Feb,180,Texas,7730337.0,50.12,50.12
1,Jae Crowder,Boston Celtics,99,SF,0,06-Jun,235,Marquette,6796117.0,54.10,54.10
2,John Holland,Boston Celtics,30,SG,0,06-May,205,Boston University,NaN,54.65,54.65
3,R.J. Hunter,Boston Celtics,28,SG,0,06-May,185,Georgia State,1148640.0,52.38,52.38
4,Jonas Jerebko,Boston Celtics,8,PF,0,06-Oct,231,NaN,5000000.0,52.95,52.95
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,0,06-Oct,234,Kentucky,2239800.0,194.80,194.80
453,Shelvin Mack,Utah Jazz,8,PG,0,06-Mar,203,Butler,2433333.0,193.06,193.06
454,Raul Neto,Utah Jazz,25,PG,0,06-Jan,179,NaN,900000.0,196.45,196.45
455,Tibor Pleiss,Utah Jazz,21,C,0,07-Mar,256,NaN,2900000.0,193.09,193.09
456,Jeff Withey,Utah Jazz,24,C,0,7-0,231,Kansas,947276.0,190.58,190.58

In [46]:
n=nba["Trial"].sort_values(ascending=False)

In [47]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Trial,Trial 1
0,Avery Bradley,Boston Celtics,0,PG,0,06-Feb,180,Texas,7730337.0,50.12,50.12
1,Jae Crowder,Boston Celtics,99,SF,0,06-Jun,235,Marquette,6796117.0,54.10,54.10
2,John Holland,Boston Celtics,30,SG,0,06-May,205,Boston University,NaN,54.65,54.65
3,R.J. Hunter,Boston Celtics,28,SG,0,06-May,185,Georgia State,1148640.0,52.38,52.38
4,Jonas Jerebko,Boston Celtics,8,PF,0,06-Oct,231,NaN,5000000.0,52.95,52.95
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,0,06-Oct,234,Kentucky,2239800.0,194.80,194.80
453,Shelvin Mack,Utah Jazz,8,PG,0,06-Mar,203,Butler,2433333.0,193.06,193.06
454,Raul Neto,Utah Jazz,25,PG,0,06-Jan,179,NaN,900000.0,196.45,196.45
455,Tibor Pleiss,Utah Jazz,21,C,0,07-Mar,256,NaN,2900000.0,193.09,193.09
456,Jeff Withey,Utah Jazz,24,C,0,7-0,231,Kansas,947276.0,190.58,190.58

In [44]:
a=2
x=a
y=a
a=3
print(x,y,sep="  ")

2  2

In [45]:
nba["Age"]=0
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Trial,Trial 1
0,Avery Bradley,Boston Celtics,0,PG,0,06-Feb,180,Texas,7730337.0,50.12,50.12
1,Jae Crowder,Boston Celtics,99,SF,0,06-Jun,235,Marquette,6796117.0,54.10,54.10
2,John Holland,Boston Celtics,30,SG,0,06-May,205,Boston University,NaN,54.65,54.65
3,R.J. Hunter,Boston Celtics,28,SG,0,06-May,185,Georgia State,1148640.0,52.38,52.38
4,Jonas Jerebko,Boston Celtics,8,PF,0,06-Oct,231,NaN,5000000.0,52.95,52.95
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,0,06-Oct,234,Kentucky,2239800.0,194.80,194.80
453,Shelvin Mack,Utah Jazz,8,PG,0,06-Mar,203,Butler,2433333.0,193.06,193.06
454,Raul Neto,Utah Jazz,25,PG,0,06-Jan,179,NaN,900000.0,196.45,196.45
455,Tibor Pleiss,Utah Jazz,21,C,0,07-Mar,256,NaN,2900000.0,193.09,193.09
456,Jeff Withey,Utah Jazz,24,C,0,7-0,231,Kansas,947276.0,190.58,190.58

In [59]:
array=np.arange(100)

In [60]:
arr_series=pd.Series(array)
arr_series

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int32

In [61]:
nba["New1"]=arr_series
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Trial,Trial 1,New,New1
0,Avery Bradley,Boston Celtics,0,PG,0,06-Feb,180,Texas,7730337.0,50.12,50.12,0,0.0
1,Jae Crowder,Boston Celtics,99,SF,0,06-Jun,235,Marquette,6796117.0,54.10,54.10,1,1.0
2,John Holland,Boston Celtics,30,SG,0,06-May,205,Boston University,NaN,54.65,54.65,2,2.0
3,R.J. Hunter,Boston Celtics,28,SG,0,06-May,185,Georgia State,1148640.0,52.38,52.38,3,3.0
4,Jonas Jerebko,Boston Celtics,8,PF,0,06-Oct,231,NaN,5000000.0,52.95,52.95,4,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,0,06-Oct,234,Kentucky,2239800.0,194.80,194.80,452,NaN
453,Shelvin Mack,Utah Jazz,8,PG,0,06-Mar,203,Butler,2433333.0,193.06,193.06,453,NaN
454,Raul Neto,Utah Jazz,25,PG,0,06-Jan,179,NaN,900000.0,196.45,196.45,454,NaN
455,Tibor Pleiss,Utah Jazz,21,C,0,07-Mar,256,NaN,2900000.0,193.09,193.09,455,NaN
456,Jeff Withey,Utah Jazz,24,C,0,7-0,231,Kansas,947276.0,190.58,190.58,456,NaN

In [62]:
nba.dropna(how="any")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Trial,Trial 1,New,New1
0,Avery Bradley,Boston Celtics,0,PG,0,06-Feb,180,Texas,7730337.0,50.12,50.12,0,0.0
1,Jae Crowder,Boston Celtics,99,SF,0,06-Jun,235,Marquette,6796117.0,54.10,54.10,1,1.0
3,R.J. Hunter,Boston Celtics,28,SG,0,06-May,185,Georgia State,1148640.0,52.38,52.38,3,3.0
6,Jordan Mickey,Boston Celtics,55,PF,0,06-Aug,235,LSU,1170960.0,53.02,53.02,6,6.0
7,Kelly Olynyk,Boston Celtics,41,C,0,7-0,238,Gonzaga,2165160.0,50.95,50.95,7,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Jeff Green,Los Angeles Clippers,8,SF,0,06-Sep,235,Georgetown,9650000.0,97.15,97.15,95,95.0
96,Blake Griffin,Los Angeles Clippers,32,PF,0,06-Oct,251,Oklahoma,18907726.0,96.66,96.66,96,96.0
97,Wesley Johnson,Los Angeles Clippers,33,SF,0,06-Jul,215,Syracuse,1100602.0,94.18,94.18,97,97.0
98,DeAndre Jordan,Los Angeles Clippers,6,C,0,06-Nov,265,Texas A&M,19689000.0,96.83,96.83,98,98.0
99,Luc Richard Mbah a Moute,Los Angeles Clippers,12,PF,0,06-Aug,230,UCLA,947276.0,97.43,97.43,99,99.0

In [63]:
nba.insert(loc=2, column="insert column" , value=google , allow_duplicates= False)

In [64]:
nba

,Name,Team,insert column,Number,Position,Age,Height,Weight,College,Salary,Trial,Trial 1,New,New1
0,Avery Bradley,Boston Celtics,50.12,0,PG,0,06-Feb,180,Texas,7730337.0,50.12,50.12,0,0.0
1,Jae Crowder,Boston Celtics,54.10,99,SF,0,06-Jun,235,Marquette,6796117.0,54.10,54.10,1,1.0
2,John Holland,Boston Celtics,54.65,30,SG,0,06-May,205,Boston University,NaN,54.65,54.65,2,2.0
3,R.J. Hunter,Boston Celtics,52.38,28,SG,0,06-May,185,Georgia State,1148640.0,52.38,52.38,3,3.0
4,Jonas Jerebko,Boston Celtics,52.95,8,PF,0,06-Oct,231,NaN,5000000.0,52.95,52.95,4,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,194.80,41,PF,0,06-Oct,234,Kentucky,2239800.0,194.80,194.80,452,NaN
453,Shelvin Mack,Utah Jazz,193.06,8,PG,0,06-Mar,203,Butler,2433333.0,193.06,193.06,453,NaN
454,Raul Neto,Utah Jazz,196.45,25,PG,0,06-Jan,179,NaN,900000.0,196.45,196.45,454,NaN
455,Tibor Pleiss,Utah Jazz,193.09,21,C,0,07-Mar,256,NaN,2900000.0,193.09,193.09,455,NaN
456,Jeff Withey,Utah Jazz,190.58,24,C,0,7-0,231,Kansas,947276.0,190.58,190.58,456,NaN

In [2]:

nba=pd.read_csv("nba.csv")

In [3]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25.0,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,NaN,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27.0,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22.0,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29.0,06-Oct,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20.0,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26.0,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24.0,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26.0,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26.0,7-0,231,Kansas,947276.0

In [12]:
s1=pd.Series(nba["Weight"]).sort_values()
print(s1)

152    161
350    165
263    165
359    169
286    170
      ...
188    279
395    280
330    289
302    290
405    307
Name: Weight, Length: 457, dtype: int64

In [13]:
nba["Weight"]=s1
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25.0,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,NaN,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27.0,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22.0,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29.0,06-Oct,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20.0,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26.0,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24.0,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26.0,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26.0,7-0,231,Kansas,947276.0

In [22]:
nba=pd.read_csv("nba.csv")

In [23]:
nba.dropna(inplace=True ,how="all")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25.0,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,NaN,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27.0,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22.0,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29.0,06-Oct,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20.0,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26.0,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24.0,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26.0,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26.0,7-0,231,Kansas,947276.0

In [31]:
nba[ ["Weight"] ].sort_values("Weight")

     Weight
152     161
350     165
263     165
359     169
286     170
..      ...
188     279
395     280
330     289
302     290
405     307

[457 rows x 1 columns]

In [ ]:
nba["Weight"].rank()