In [1]:
import pandas as pd

In [2]:
nba=pd.read_csv("nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25.0,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,NaN,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27.0,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22.0,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29.0,06-Oct,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20.0,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26.0,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24.0,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26.0,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26.0,7-0,231,Kansas,947276.0

# Type 1 : Single value as a parameter to sort

In [5]:
nba.sort_values("Salary" , ascending=False , inplace=True , na_position="first")
## na_pos means where should be the null values placed at first or at last
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30,SG,27.0,06-May,205,Boston University,NaN
46,Elton Brand,Philadelphia 76ers,42,PF,37.0,06-Sep,254,Duke,NaN
171,Dahntay Jones,Cleveland Cavaliers,30,SG,35.0,06-Jun,225,Duke,NaN
264,Jordan Farmar,Memphis Grizzlies,4,PG,29.0,06-Feb,180,UCLA,NaN
269,Ray McCallum,Memphis Grizzlies,5,PG,24.0,06-Mar,190,Detroit,NaN
...,...,...,...,...,...,...,...,...,...
175,Jordan McRae,Cleveland Cavaliers,12,SG,25.0,06-May,179,Tennessee,111196.0
135,Alan Williams,Phoenix Suns,15,C,23.0,06-Aug,260,UC Santa Barbara,83397.0
291,Orlando Johnson,New Orleans Pelicans,0,SG,27.0,06-May,220,UC Santa Barbara,55722.0
130,Phil Pressey,Phoenix Suns,25,PG,25.0,05-Nov,175,Missouri,55722.0
32,Thanasis Antetokounmpo,New York Knicks,43,SF,23.0,06-Jul,205,NaN,30888.0

# Type 2: Multiple values chained as a parameter

## First sort according to team name and then according to player name

In [7]:
nba1=pd.read_csv("nba.csv")
nba1.sort_values(["Team" , "Name"] , ascending=True , inplace=True , na_position="first")
nba1

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
312,Al Horford,Atlanta Hawks,15,C,30.0,06-Oct,245,Florida,12000000.0
318,Dennis Schroder,Atlanta Hawks,17,PG,22.0,06-Jan,172,NaN,1763400.0
323,Jeff Teague,Atlanta Hawks,0,PG,27.0,06-Feb,186,Wake Forest,8000000.0
309,Kent Bazemore,Atlanta Hawks,24,SF,26.0,06-May,201,Old Dominion,2000000.0
311,Kirk Hinrich,Atlanta Hawks,12,SG,35.0,06-Apr,190,Kansas,2854940.0
...,...,...,...,...,...,...,...,...,...
381,Marcus Thornton,Washington Wizards,15,SF,29.0,06-Apr,205,LSU,200600.0
376,Markieff Morris,Washington Wizards,5,PF,26.0,06-Oct,245,Kansas,8000000.0
375,Nene Hilario,Washington Wizards,42,C,33.0,06-Nov,250,NaN,13000000.0
378,Otto Porter Jr.,Washington Wizards,22,SF,23.0,06-Aug,198,Georgetown,4662960.0
379,Ramon Sessions,Washington Wizards,7,PG,30.0,06-Mar,190,Nevada,2170465.0

## We can give ascending for both the parameters differently as well

In [12]:
nba2=pd.read_csv("nba.csv")
nba2.sort_values(["Team" , "Name"] , ascending=[True ,False] , inplace=True , na_position="first")
nba2.head(20)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
322,Walter Tavares,Atlanta Hawks,22,C,24.0,07-Mar,260,NaN,1000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10,SG,24.0,06-Jun,205,Michigan,1304520.0
321,Tiago Splitter,Atlanta Hawks,11,C,31.0,06-Nov,245,NaN,9756250.0
320,Thabo Sefolosha,Atlanta Hawks,25,SF,32.0,06-Jul,220,NaN,4000000.0
315,Paul Millsap,Atlanta Hawks,4,PF,31.0,06-Aug,246,Louisiana Tech,18671659.0
319,Mike Scott,Atlanta Hawks,32,PF,27.0,06-Aug,237,Virginia,3333333.0
316,Mike Muscala,Atlanta Hawks,31,PF,24.0,06-Nov,240,Bucknell,947276.0
317,Lamar Patterson,Atlanta Hawks,13,SG,24.0,06-May,225,Pittsburgh,525093.0
314,Kyle Korver,Atlanta Hawks,26,SG,35.0,06-Jul,212,Creighton,5746479.0
313,Kris Humphries,Atlanta Hawks,43,PF,31.0,06-Sep,235,Minnesota,1000000.0
311,Kirk Hinrich,Atlanta Hawks,12,SG,35.0,06-Apr,190,Kansas,2854940.0
309,Kent Bazemore,Atlanta Hawks,24,SF,26.0,06-May,201,Old Dominion,2000000.0
323,Jeff Teague,Atlanta Hawks,0,PG,27.0,06-Feb,186,Wake Forest,8000000.0
318,Dennis Schroder,Atlanta Hawks,17,PG,22.0,06-Jan,172,NaN,1763400.0
312,Al Horford,Atlanta Hawks,15,C,30.0,06-Oct,245,Florida,12000000.0
14,Tyler Zeller,Boston Celtics,44,C,26.0,7-0,253,North Carolina,2616975.0
8,Terry Rozier,Boston Celtics,12,PG,22.0,06-Feb,190,Louisville,1824360.0
3,R.J. Hunter,Boston Celtics,28,SG,22.0,06-May,185,Georgia State,1148640.0
9,Marcus Smart,Boston Celtics,36,PG,22.0,06-Apr,220,Oklahoma State,3431040.0
7,Kelly Olynyk,Boston Celtics,41,C,25.0,7-0,238,Gonzaga,2165160.0